.nav-body {
    height: 200px;
    background-color: orange;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.search-block {}

.name {
    color: #FFF;
    font-family: Russo One;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

.main {}

.section {}

.rich-list {
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    list-style: none;
}

.rich-item {
    background-color: rgb(7, 175, 226);
    color: #FFF;
}

.rich-link {}

@import './2E_GAMING_OGAMA_II_UA/style'