.nav-body {
    height: 200px;
    background-color: orange;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.search-block {
    color: #FFF;
    font-family: Russo One;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

.search-block__input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.name {
    color: #FFF;
    font-family: Russo One;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

.main {}

.section {}

.rich-list {
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    list-style: none;

    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 0;
}

.rich-item {
    flex-basis: calc((100% - (2 * 40px)) / 3);
    color: #FFF;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1rem;

}

.rich-link {
    font-style: normal;
    color: #FFF;
    background-color: orange;

    &:hover {
        filter: brightness(1.2);
    }
}

.rich-link__img {
    max-width: 100%;
    height: auto;
    display: block;
}

.rich-link__title {
    padding: 20px;
    text-align: center;
    margin: 0;
}

@import './2E_GAMING_OGAMA_II_UA/style'