@import '.././mixin';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

@font-face {
    font-family: "DIN Pro Light";
    src: url("//db.onlinewebfonts.com/t/30d8551749f6e45091a70b5a98734251.eot");
    src: url("//db.onlinewebfonts.com/t/30d8551749f6e45091a70b5a98734251.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/30d8551749f6e45091a70b5a98734251.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/30d8551749f6e45091a70b5a98734251.woff") format("woff"), url("//db.onlinewebfonts.com/t/30d8551749f6e45091a70b5a98734251.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/30d8551749f6e45091a70b5a98734251.svg#DIN Pro Light") format("svg");
}

.rich-05-1 {
    color: #000;
    font-family: DIN Pro Light;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background-color: #bfd3c8;
}

.img-rich-05-1 {
    display: block;
    max-width: 100%;
    height: auto;
}

.block-rich-05-1 {
    position: relative;
}

.rich-05-1__block-container {
    margin: 0 60px;

    @include tablet {
        margin: 0 40px;
    }
}

.rich-05-1__img-block {
    .img-rich-05-1 {
        max-width: none;
        width: 100%;
        object-fit: cover;
    }
}

.rich-05-1__main-title {
    position: absolute;
    top: 21.7%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;

    color: #636892;
    text-align: center;
    font-family: Ubuntu;
    font-size: clamp(20px, 4.8vw, 70px);
    font-style: normal;
    font-weight: 500;
    line-height: 1.42;
}

.block-rich-05-2 {
    margin-bottom: 60px;
}

.block-rich-05-2__list {
    display: flex;
    flex-direction: column;
    gap: 70px;

    @include tablet {
        gap: 40px;
    }
}

.block-rich-05-2__item {}

.block-rich-05-2__body {
    border-radius: 40px;
    background: #F9F6ED;

    padding-top: 136px;
    padding-left: 102px;
    padding-right: 102px;
    padding-bottom: 104px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 110px;
    overflow: hidden;

    @include tablet {
        padding: 50px;
    }
}

.rich-05-2__text-body {
    text-align: center;
    width: 85%;
}

.rich-05-2__title {
    color: #636892;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
}

.rich-05-2__text {
    font-weight: 300;
}

.block-rich-05-3__item {
    position: relative;
}

.block-rich-05-3__body {
    border-radius: 40px;
    overflow: hidden;
}

.rich-05-3__text-body {
    @extend .rich-05-2__text-body;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;

    @include tablet {
        top: 5%;
    }
}

.rich-05-3__title {
    @extend .rich-05-2__title;
}

.rich-05-3__text {
    @extend .rich-05-3__text;
}

.rich-05-3__img-block {
    .img-rich-05-1 {
        max-width: none;
        object-fit: cover;
        width: 100%;
    }

}

.block-rich-05-4__item {
    @extend .block-rich-05-3__item;
}

.block-rich-05-4__body {
    @extend .block-rich-05-3__body;
}

.rich-05-4__text-body {
    @extend .rich-05-3__text-body;
    width: 50%;

    @include tablet {
        left: 10%;
        transform: translateX(0);
        text-align: left
    }
}

.rich-05-4__title {
    @extend .rich-05-3__title;
}

.rich-05-4__text {
    @extend .rich-05-3__text;
}

.rich-05-4__img-block {
    .img-rich-05-1 {
        max-width: none;
        object-fit: cover;
        width: 100%;
    }
}


.block-rich-05-5__body {
    display: flex;
    gap: 30px;
}

.rich-05-5__img-block {
    border-radius: 40px;
    overflow: hidden;

    .img-rich-05-1 {
        max-width: none;
        object-fit: cover;
        width: 100%;
    }
}

.block-rich-05-6__body {
    border-radius: 40px;
    overflow: hidden;
}

.rich-05-6__img-block {
    .img-rich-05-1 {
        max-width: none;
        object-fit: cover;
        width: 100%;
    }
}

.block-rich-05-7 {
    background-image: linear-gradient(to bottom, #F9F6ED 0%, #F9F6ED 50%, transparent 50%, transparent 100%);
    padding: 60px 0;

}

.block-rich-05-7__body {
    @extend .block-rich-05-3__body;
    position: relative;
}

.rich-05-7__text-body {
    @extend .rich-05-3__text-body;
    top: 120px;

    @include tablet {
        top: 5%;
        width: 85%;
    }
}

.rich-05-7__title {
    @extend .rich-05-3__title;
}

.rich-05-7__text {
    @extend .rich-05-3__text;
}

.rich-05-7__img-block {
    .img-rich-05-1 {
        max-width: none;
        object-fit: cover;
        width: 100%;
    }
}

.block-rich-05-8 {
    @extend .block-rich-05-7;
}

.block-rich-05-8__body {
    @extend .block-rich-05-7__body;
}

.rich-05-8__text-body {
    @extend .rich-05-7__text-body;

    @include tablet {
        text-align: left;
        width: 90%;
        left: 5%;
        transform: translateX(0);
    }
}

.rich-05-8__title {
    @extend .rich-05-7__title;
}

.rich-05-8__text {
    @extend .rich-05-7__text;

    @include tablet {}
}

.rich-05-8__img-block {
    .img-rich-05-1 {
        max-width: none;
        object-fit: cover;
        width: 100%;
    }
}

.block-rich-05-9 {
    @extend .block-rich-05-8;
    background-image: url(../img/Varmilo_Minilo_Eucalyptus/rich_05-9-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.block-rich-05-9__body {
    @extend .block-rich-05-9__body;
}

.rich-05-9__img-block {
    border-radius: 40px;
    overflow: hidden;

    .img-rich-05-1 {
        max-width: none;
        object-fit: cover;
        width: 100%;
    }
}

.block-rich-05-10 {
    background-color: #F9F6ED;
    padding: 100px 0;
}

.block-rich-05-10__list {
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.block-rich-05-10__item {}

.block-rich-05-10__item-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.block-rich-05-10__body {
    position: relative;
}

.rich-05-10__text-body {
    @extend .rich-05-8__text-body;
    top: 310px;
    width: 60%;
}

.rich-05-10__title {
    @extend .rich-05-2__title;
}

.rich-05-10__text {
    @extend .rich-05-2__text;
}

.rich-05-10__img-block {}

.block-rich-05-10__item--row {
    display: flex;
    gap: 150px;
    justify-content: center;
}

.rich-05-10__text--bold {
    font-weight: 700;
}

.block-rich-05-10__table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-radius: 40px;
    background-color: #BFD3C8;
    overflow: hidden;
}

.rich-05-10-table__row {
    display: table-row;

}

.rich-05-10-table__cell {
    display: table-cell;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    padding: 40px 10px;

    @media only screen and (max-width: 600px) {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}

.rich-05-10-table__row--header,
.rich-05-10-table__cell--header {
    font-weight: bold;
    background-color: #f2f2f2;
    background-color: #BFD3C8;
    padding: 18px 10px;
}

.block-rich-05-11 {
    padding: 80px 0;
}

.block-rich-05-11__body {
    @extend .block-rich-05-7__body;
}

.rich-05-11__text-body {
    @extend .rich-05-7__text-body;
}

.rich-05-11__title {
    @extend .rich-05-7__title;
}

.rich-05-11__text {
    @extend .rich-05-7__text;
}

.rich-05-11__img-block {
    .img-rich-05-1 {
        max-width: none;
        object-fit: cover;
        width: 100%;
    }
}

.block-rich-05-12 {}

.block-rich-05-12__body {
    position: relative;
}

.rich-05-12__text-body {
    @extend .rich-05-7__text-body;
    top: 256px;
}

.rich-05-12__title {
    @extend .rich-05-7__title;
}

.rich-05-12__text {
    @extend .rich-05-7__text;
}

.rich-05-12__img-block {
    .img-rich-05-1 {
        max-width: none;
        object-fit: cover;
        width: 100%;
    }
}

.rich-05-12__logo {
    position: absolute;
    bottom: 60px;
    left: 120px;
}